<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMWYS8SP3t7QizBBvCtvVU8f4U7j5Bbsc</string>
	<key>GCM_SENDER_ID</key>
	<string>751514588618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vaibhav.ActiveVibe</string>
	<key>PROJECT_ID</key>
	<string>activevibe-fe308</string>
	<key>STORAGE_BUCKET</key>
	<string>activevibe-fe308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751514588618:ios:3e6ed74f8c268d5bf7eb33</string>
</dict>
</plist>